<div class="menu" id="menu">
    <a class="menu1" data-taid="jsq">
        <span class="icon">
            <i></i>
        </span>
        <span class="font">计算工具</span>
    </a>
    <a href="https://trade.5ifund.com/login/loginInit.action?frm=hd_d3" target="_blank" class="menu2" data-taid="login">
        <span class="icon">
            <i></i>
        </span>
        <span class="font">安全登录</span>
    </a>
    <a href="https://trade.5ifund.com/reg/?frm=hd_d3" target="_blank" class="menu3" data-taid="kaihu">
        <span class="icon">
            <i></i>
        </span>
        <span class="font">8 秒开户</span>
    </a>
    <a href="https://trade.5ifund.com/pc/account/risklevel.html?frm=hd_d3" target="_blank" class="menu4" data-taid="fengce">
        <span class="icon">
            <i></i>
        </span>
        <span class="font">风险测评</span>
    </a>
    <a href="//fund.10jqka.com.cn/zixuan/index.html?frm=hd_d3" target="_blank" class="menu5" data-taid="zixuan">
        <span class="icon">
            <i></i>
        </span>
        <span class="font">我的自选</span>
    </a>
    <a class="gototop" data-taid="dingbu">
        <span class="icon">
            <i></i>
        </span>
        <span class="font">回到顶部</span>
    </a>
</div>